body {
  background-image: url("assets/images/tan_marble_background.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

div {
  display: block;
}

.media {
  align-items: flex-start;
  display: flex;
  text-align: inherit;
}

.media-content {
  flex-basis: auto;
  flex-grow: 1;
  flex-shrink: 1;
  text-align: inherit;
}

.section-heading {
  text-align: center;
}

.has-same-height .card {
  /* height: 320px; */
  overflow: hidden;
}

.card {
  max-width: 100%;
  position: relative;
}

.card-image {
  display: block;
  position: relative;
}

.image.is-128x128 {
  padding-top: 75%;
  position: absolute;
  height: 100%;
  width: 100%;
}

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.progress {
  border: none;
  display: block;
  overflow: hidden;
  padding: 0;
  width: 100%;
}


/* ----------------OLD VERSION----------------------------- */

/*---------------jumbotron top--------------*/

#outerJumboTitle {
  background-color: rgb(163, 163, 163);
  color: white;
  display: flex;
  flex-direction: column;
  font-family: 'Numans', sans-serif;

}

#name {
  font-family: "Sansita Swashed", cursive;
  color: white;
}

#jumboBrand {
  float: left;
}

#dropdown {
  color: black;
  font-size: 45px;
  float: right;
  padding-top: 25px;
}


/*---------------social media links---------------*/

#social {
  text-align: center;
}

.btn-floating {
  font-size: 40px;
  color: black;
}

/*-----------about me--------------------*/

.card {
  margin: 10px;
  padding: 15px;
  background-color: #e2ccbf;
  color: black;
}

#me {
  margin-left: 45px;
}

#aboutMe {
  text-align: center;
  margin-top: 35px;
  font-family: 'Numans', sans-serif;
  font-size: 18px;
}

/*------------portfolio------------------*/
.containerP {
  margin: 20px;
  padding: 15px;
  position: center;
  background-color: #e2ccbf;
}

.cardP {
  margin: 10px;
  padding: 15px;
  background-color: #f0ebe8;
  color: black;
}

.card-header {
  background-color: rgb(163, 163, 163);
  font-family: 'Numans', sans-serif;
  color: black;
  font-weight: bolder;
}

.card-title {
  font-family: 'Numans', sans-serif;
  font-weight: bolder;
}

.card-text {
  font-family: 'Numans', sans-serif;

}

/*-----------footer------------------*/

.footerBar {
  position: sticky;
  text-align: center;
  width: 100%;
  line-height: 4;
  color: honeydew;
  background-color: rgb(163, 163, 163);
  font-family: 'Numans', sans-serif;

}
#brand {
  position: sticky;
  line-height: 4;
}
.text-white {
  font-family: "Cedarville Cursive", cursive;
}
